{% extends "server/base.html" %}

{% block main %}
<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Server</h3>
        {% if user.is_authenticated %}
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'server:create_website' %}">Create new website</a>
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'server:website_list' %}">Website
                List</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'server:website_statistics' %}">Statistic</a>
            <a class="nav-link fw-bold py-1 px-0" href="{% url 'users:logout' %}">Logout</a>
            {% else %}
            <p>Please, <a class="nav-link fw-bold py-1 px-0" href="{% url 'users:login' %}">SignIn</a> or
                <a class="nav-link fw-bold py-1 px-0" href="{% url 'users:register' %}">SignUp</a>.</p>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}