<!DOCTYPE html>
{% extends "server/base.html" %}
<html>
<head>
    <title>Статистика переходів VPN</title>
</head>
<body>
    <h1>Ваша статистика переходів через VPN</h1>
    <table>
        <tr>
            <th>Сайт</th>
            <th>Об'єм відправлених даних (байти)</th>
            <th>Об'єм отриманих даних (байти)</th>
            <th>Час переходу</th>
        </tr>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.site_url }}</td>
                <td>{{ stat.data_sent }}</td>
                <td>{{ stat.data_received }}</td>
                <td>{{ stat.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
